.main__body, .favorites__body, .sell__body, .explore__body, .more__body, .top__body, .join__body{
  position: relative;
  z-index: 1;
}

.parallax{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
  z-index: 0;

  &-item{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    &-body{
      position: absolute;
      left:0%;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease 0s;
    }
  }

  & .main__parallax-bg1{
    border-radius: 50%;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    top: 23%;
    left: -35%;
    @include adaptiv-value(width, 561, 361, 1);
    @include adaptiv-value(height, 562, 362px, 1);
    @media (max-width: 800px){
      top: auto;
      bottom: -23%;
    }
  }
  & .main__parallax-bg2{
    border-radius: 50%;
    @include adaptiv-value(width, 562, 400, 1);
    @include adaptiv-value(height, 562, 413, 1);
    background: rgba(217, 65, 61, 0.30);
    filter: blur(95.52742767333984px);
    top: -10%;
    left: auto;
    right: -37%;
    height: 562.872px;
  }
  & .main__parallax-dots1{
    background: url('../img/main/dots1.png') top/cover no-repeat;
    max-width: 748.342px;
    max-height: 525.392px;
    top: 5%;
    left: -11%;
  }
  & .main__parallax-dots2{
    background: url('../img/main/dots2.png') top/cover no-repeat;
    max-width: 748.342px;
    max-height: 525.392px;
    top: 1%;
    left: auto;
    right: 0%;
    @media (max-width: 800px){
      top: 40%;
    }
  }
  & .favorites__parallax-bg1{
    border-radius: 608.515px;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    width: 607.122px;
    height: 608.515px;
    left: auto;
    top: -10%;
    right: -25%;
    @media (max-width: 800px){
      display: none;
    }
  }
  & .favorites__parallax-dots1{
    background: url('../img/favorites/dots1.png') top/contain no-repeat;
    max-width: 447px;
    max-height: 630px;
    top: -20.2%;
    left: auto;
    right: -12.3%;
    @media (max-width: 800px){
      display: none;
    }
  }

  & .sell__parallax-bg1{
    border-radius: 50%;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    @include adaptiv-value(width, 569, 361, 1);
    @include adaptiv-value(height, 571, 361, 1);
    left: -25%;
    top: -75%;
    @media (max-width: 800px){
      left: auto;
      right: -25%;
      top: -25%;
    }
  }
  & .sell__parallax-dots1{
    background: url('../img/sell/dots1.png') top/contain no-repeat;
    max-width: 509px;
    max-height: 492px;
    top: -57%;
    left: -11.5%;
    @media (max-width: 800px){
      left: auto;
      right: -11.5%;
      top: -25%;
    }
  }
  & .explore__parallax-bg{
    border-radius: 816.871px;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    width: 815px;
    height: 816px;
    left: -40%;
    top: 25%;
  }
  & .explore__parallax-bg2{
    border-radius: 538.11px;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    width: 536.878px;
    height: 538.11px;
    left: auto;
    right: -30%;
    top: -18%;
    @media (max-width: 800px){
      top: -5%;
    }
  }
  & .explore__parallax-dots2{
    background: url('../img/explore/dots2.png') top/contain no-repeat;
    max-width: 336px;
    max-height: 546px;
    left: auto;
    right: -12%;
    top: -20%;
    @media (max-width: 800px){
      top: -5%;
    }
  }
  & .more__parallax-bg{
    border-radius: 50%;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    width: 815px;
    height: 816px;
    @include adaptiv-value(width, 815, 447, 1);
    @include adaptiv-value(height, 816, 448, 1);
    left: auto;
    right: -50%;
    top: -50%;

    @media (max-width: 800px){
    
    }
  }
  & .more__parallax-dots{
    background: url('../img/more/dots.png') top/contain no-repeat;
    max-width: 402px;
    max-height: 486px;
    left: auto;
    right: -9%;
    top: -1%;
  }
  & .top__parallax-bg1{
    border-radius: 50%;
    background: rgba(217, 65, 61, 0.25);
    filter: blur(95.52742767333984px);
    @include adaptiv-value(width, 625, 416, 1);
    @include adaptiv-value(height, 626, 417, 1);
    left: -25%;
    top: -50%;
    @media (max-width: 800px){
      top: -10%;
    }
  }
  & .top__parallax-dots1{
    background: url('../img/top/dots1.png') top/contain no-repeat;
    max-width: 666px;
    max-height: 667px;
    left: -11%;
    top: -60%;
    @media (max-width: 800px){
      top: -20%;
    }
  }
  & .join__parallax-bg1{
    border-radius: 690.948px;
    background: rgba(217, 65, 61, 0.20);
    filter: blur(95.52742767333984px);
    width: 689.367px;
    height: 690.948px;
    left: -50%;
    top: auto;
    bottom: -50%;
    @media (max-width: 600px){
      display: none;
    }
  }
  & .join__parallax-dots1{
    background: url('../img/join/dots1.png') top/contain no-repeat;
    max-width: 376px;
    max-height: 480px;
    left: -10%;
    top: auto;
    bottom: -29%;
    @media (max-width: 600px){
      display: none;
    }
  }
  & .join__parallax-bg2{
    border-radius: 690.948px;
    background: rgba(217, 65, 61, 0.20);
    filter: blur(95.52742767333984px);
    width: 689.367px;
    height: 690.948px;
    left: auto;
    right: -50%;
    top: auto;
    bottom: -40%;
    @media (max-width: 600px){
      display: none;
    }
  }
  & .join__parallax-dots2{
    background: url('../img/join/dots2.png') top/contain no-repeat;
    max-width: 270px;
    max-height: 401px;
    left: auto;
    right: -10%;
    top: auto;
    bottom: -3%;
    @media (max-width: 600px){
      display: none;
    }
  }
}
