.join{
  &__container{
    @include adaptiv-value(padding-top, 112, 60, 1);
    @include adaptiv-value(padding-bottom, 116, 30, 1);
    position: relative;
  }
  &__body{
    @include adaptiv-value(padding-top, 67, 30, 1);
    @include adaptiv-value(padding-bottom, 61, 34, 1);
    @include adaptiv-value(padding-left, 150, 18, 1);
    @include adaptiv-value(padding-right, 150, 18, 1);
    background: linear-gradient(225deg, rgba(215, 64, 55, 0.10) 0%, rgba(233, 74, 104, 0.10) 47.93%, rgba(215, 53, 172, 0.10) 100%);
    text-align: center;

    @media (max-width: 992px){
      border-radius: 10px;
    }
  }
  &__title{
    color: #FFF;
    font-size: 36px;
    @include adaptiv-font(36, 20);
    font-family: Orbitron;
    font-weight: 700;
    line-height: 144%;
    @include adaptiv-value(margin-bottom, 24, 19, 1);
    @media (max-width: 600px){
      font-weight: 600;
    }
  }
  &__desc{
    color: rgba(255, 255, 255, 0.80);
    @include adaptiv-font(20, 15);
    font-family: Poppins;
    @include adaptiv-line-height(46, 25);
    @include adaptiv-value(margin-bottom, 42, 24, 1);
  }
  &__button{
    display: inline-block;
    @include adaptiv-padding(20, 11, 37, 20, 1);
  }
}