.main{
  &__container{
    position: relative;
  }

  &__body{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @include adaptiv-value(column-gap, 110, -110, 1);
    @include adaptiv-value(padding-bottom, 87, 60, 1);
    @include adaptiv-value(padding-top, 210, 100, 1);
  }
  // &__left, &__right{
  //   width: 50%;
  // }


  &__left{
    @include adaptiv-value(max-width, 582, 328, 1);
    @include adaptiv-value-width(padding-bottom, 350, 175, 800, 1);
  }
  &__title{
    font-family: 'Orbitron';
    font-weight: 700;
    @include adaptiv-font(70, 32);
    line-height: 144%;
    letter-spacing: 0.015em;
    color: #fff;
    @include adaptiv-value(margin-bottom, 66, 20, 1);
  }
  & .text-gradient{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(269.88deg, #DE3D93 0.06%, rgba(206, 124, 119, 0.545639) 39.96%, #D74037 92.44%);
    }
  }

  &__desc{
    font-weight: 400;
    @include adaptiv-font(20, 16);
    line-height: 158%;
    color: rgba(255, 255, 255, 0.8);
    @include adaptiv-value(margin-bottom, 80, 24, 1);
  }

  &__buttons{
    display: flex;
    column-gap: 22px;

    & button{
      width: 100%;
      max-width: 192px;
      font-weight: 500;
      @include adaptiv-font(14, 13);
      line-height: 108%;
      @include adaptiv-padding(20, 13, 0, 0, 1);
    }
  }

  &__right{
    display:flex;
    flex-direction:column;
    position: relative;
    width: 50%;
    min-height: 100%;
    @include adaptiv-value-width(margin-right, 100, 50, 800, 1);
  }
  &__images{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    @include adaptiv-value(margin-bottom, 64, 30, 1);
    @include adaptiv-value-width(margin-bottom, 250, 150, 800, 1);
  }
  &__image{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    transition: all 0.8s ease 0s;
    @include adaptiv-value-width(max-width, 290, 129, 690, 1);
    object-fit: cover;
  }
  &__image-1{
    z-index: 3;
    transform: translate(0%, -50%);

    &._active{
      transform: rotate(-4.29deg) translate(0%, -50%);
    }
  }
  &__image-2{
    z-index: 2;
    transform: translate(0%, -50%);

    &._active{
      transform: rotate(13.31deg) translate(30%, -80%);
    }
  }
  &__image-3{
    z-index: 1;
    transform: translate(0%, -50%);

    &._active{
      transform: rotate(14.09deg) translate(43%, -87.5%);
    }
  }
  &__infos{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    &-title{
      font-family: 'Orbitron';
      font-weight: 600;
      @include adaptiv-font(32, 20);
      line-height: 144%;
      color: #fff;
      @include adaptiv-value(margin-bottom, 6, 8, 1);
    }
    &-desc{
      font-weight: 400;
      @include adaptiv-font(16, 14);
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  @media (max-width: 800px){
    overflow: hidden;
    &__body{
      flex-direction: column;
    }
    &__left{
      width: 100%;
      max-width: 100%;
    }
    &__right{
      align-self: end;
    }
  }
  @media (max-width: 600px){
    &__body{
      align-items: center;
    }
    &__right{
      align-self: auto;
      margin-right: 0;
      width: 100%;
    }
    &__image{
      left: 25%;  
    }
  }
}