.more{
  overflow: hidden;
  
  &__container{
    position: relative;
  }
  &__body{
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(padding-top, 87, 30, 1);
    @include adaptiv-value(padding-bottom, 87, 60, 1);
  }

  &__left, &__right{
    width: 50%;
  }
  &__left{
    max-width: 524px
  }

  &__title{
    @include adaptiv-font(50, 22);
    font-family: Orbitron;
    font-weight: 600;
    line-height: 147%;
    color: #fff;
    @include adaptiv-value(margin-bottom, 48, 32, 1);
  } 
  &__desc{
    color: rgba(255, 255, 255, 0.8 );
    @include adaptiv-font(20, 16);
    line-height: 158%;
    @include adaptiv-value(margin-bottom, 72, 21, 1);
  }
  &__buttons{
    display: flex;
    @include adaptiv-value(column-gap, 22, 35, 1);
  } 
  &__button{
    width: 100%; 
    @include adaptiv-value(max-width, 192, 146, 1);
    @include adaptiv-padding(20, 13, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__imgs{
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 584px;

    @media (max-width: #{$maxWidthContainer + px}){
      transform: scale(0.7);
      margin: -50px 0;
      margin-left: 25px;
    }
    @media (max-width: 490px){
      transform: scale(0.6);
      margin: -75px 0 -50px 0;
      margin-left: 25px;
    }
    @media (max-width: 370px){
      transform: scale(0.5);
    }
  }
  &__img{
    display: flex;
    transition: all 0.8s ease 0s;
    &:nth-child(1){
    //   // grid-row: span 2;
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      align-items: center;
      @include adaptiv-value(margin-right, 14, 9, 1);
      transform: translateX(150%);

      &._active{
        transform: none;
      }
  }
    &:nth-child(2){
    //   // grid-row: span 1;
    //   // grid-column: span 2;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-items: end;
      @include adaptiv-value(margin-bottom, 16, 9, 1);
      @include adaptiv-value(margin-right,9, 5, 1);
      transform: translateY(100%);
      &._active{
        transform: none;
      }

    } 
    &:nth-child(3){
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      align-items: end;
      @include adaptiv-value(margin-bottom, 19, 10, 1);
      animation: img3 0.5s ease-in-out 0s both;
      transform: translate(-150%, 50%);
      &._active{
        transform: none;
      }
    } 
    &:nth-child(4){
    //   // grid-row: span 2;
    //   // grid-column: span 2;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-items: start;
      animation: img4 0.5s ease-in-out 0s both;
      transform: translateY(-100%);
      &._active{
        transform: none;
      }
    }
    &:nth-child(5){
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      align-items: start;
      animation: img5 0.5s ease-in-out 0s both;
      transform: translate(-150%, -50%);
      &._active{
        transform: translateX(-22%);
      }

    }
  }

  @media (max-width: 992px){
    &__right{
      display: none;
    }
    &__left{
      width: 100%;
      max-width: 100%;
      display:flex;
      flex-direction:column;
    }
    &__imgs{
      align-self: center;
    }
    &__buttons{
      justify-content: center;
    }
  }
}