.top{
  background: #0A0B0F;

  &__container{
    position: relative;
  }
  &__body{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value(padding-top, 84, 32, 1);
    @include adaptiv-value(padding-bottom, 80, 41, 1);
  }
  &__title{
    color: #FFF;
    font-size: 32px;
    @include adaptiv-font(32, 22);
    font-family: Orbitron;
    font-weight: 600;
    line-height: 144%;
    @include adaptiv-value(margin-bottom, 64, 20, 1);
  }
  
  &__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    width: 100%;  
    column-gap: 50px;
    row-gap: 50px;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: linear-gradient(222deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.04) 100%);
    backdrop-filter: blur(20px);
    padding: 16px 20px 17px 20px;

    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      background: linear-gradient(264.86deg, #D74037 2.29%, #E94A68 49.7%, #D735AC 68.56%);
      padding: 2px;
      border-radius: 18px;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: all 0.3s ease 0s;
      opacity: 0;
    }

    &-left{
      display: flex;
      column-gap: 16px;
      align-items: center;
    }
    &-user{
      display:flex;
      flex-direction:column;
    }
    &-username{
      color: rgba(255, 255, 255, 0.80);
      font-weight: 500;
      line-height: 197%;
      letter-spacing: -0.16px;
      font-size: 16px;
    }
    &-value{
      display: flex;
      align-items: center;
      column-gap: 2px;
      span{
        color: rgba(255, 255, 255, 0.70);
        font-size: 8px;
        line-height: 197%;
        letter-spacing: -0.08px;
      }
    }
    &-right{
      display: flex;
      align-items: center;
    }
    &-rating{
      font-size: 8px;
      line-height: 197%;
      letter-spacing: -0.08px;
      padding: 3px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border: 0.2px solid #ffffff;
      background: rgba(255, 255, 255, 0.15);

      &.rating-red{
        border: 0.2px solid #D9413E;
        background: rgba(217, 65, 62, 0.15);
        color: #D9413E;
      }

      &.rating-pink{
        color: #D735AA;
        border: 0.2px solid #D735AA;
        background: rgba(215, 53, 170, 0.15);
      }
    }

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
    &:hover{
      &::before{
        opacity: 1;
      }
    }
    }
  }

  @media (max-width: 623px){
    &__item{
    &:nth-child(6), &:nth-child(8), &:nth-child(9){
      display: none;
    }
  }
  }
}